/* Login.css */
.signup-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 80vh;
  width: 1505px;
  margin-top: 20px;
}

.login-card {
  background: #ffffff;
  padding: 50px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(204, 144, 144, 0.1);
  width: 100%;
  max-width: 500px;
}

.login-card h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.login-card .form-group {
  margin-bottom: 20px;
}

.login-card label {
  display: block;
  margin-bottom: 2px;
  font-weight: 500;
  color: #444;
}

.login-card input {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: 0.3s border;
}

.login-card input:focus {
  border-color: #007bff;
  outline: none;
}

.login-card button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-card button:hover {
  background-color: #0056b3;
}
